# Defaults
#
# References are taken using:
# `Xvfb :99 -dpi 96 -screen 0 960x614x24`
#
[compare]
  method = 'idiff'
  flags = ['-p','-fail 0.001','-failpercent 0.2']

[capture]
  method = 'gg_record'
  flags = ['-d shy_record','-d shy_no_vsync']

[capture.env]
  SHY_EXIT_ON_FRAME = '125'
  SHY_RECORD_DIR = '$OUT_PATH'
  SHY_RECORD_FRAMES = '120'

# List of apps to run and capture

[[apps]]
  path = 'tests/visual/triangles.v'
  [apps.capture.env]
    # This is adjusted for two reasons:
    # 1. Test shy's deterministic behaviour (disabled with -d shy_no_determinism)
    # 2. Get a more interesting test output
    SHY_EXIT_ON_FRAME = '125'
    SHY_RECORD_FRAMES = '10,50,120'

[[apps]]
  path = 'tests/visual/easy_mixed_drawing.v'

[[apps]]
  path = 'tests/visual/image_regions.v'

[[apps]]
  path = 'tests/visual/pixel-perfect_rectangles.v'

[[apps]]
  path = 'tests/visual/circle_looks_ok.v'
  [apps.capture.env]
    # This is adjusted for two reasons:
    # 1. Test shy's deterministic behaviour (disabled with -d shy_no_determinism)
    # 2. Get a more interesting test output
    SHY_EXIT_ON_FRAME = '125'
    SHY_RECORD_FRAMES = '10,50,80,120'

# Reasons for ex- or inclusion:
#
